body{background-color: #87ECEE;
}
h1{color: blue; font-size: xxx-large; text-align: center; text-decoration: underline;}
h2{color: #3E7FD2; font-size: xx-large; text-decoration: underline;}
.texto{font-size: x-large; text-align: justify;}

.conborde{width: 20%; height: 300px}

.recetas{background-color: blue; text-decoration: none; color: white;border:10px solid blue; padding: 2%; border-radius: 20px; font-size: xx-large; margin-right: 20px; text-align: center;}
.iconowhats{width: 90px; height: 90px; position: fixed; text-align: center; right: 5%; bottom: 8%}


footer{background-color: blue;padding: 1%;display: flex;flex-wrap: wrap; text-align: center; pad}
.redessociales a{padding: 1%;text-decoration: none; text-align: center;}
.face {width: 10%;}
.twitter{width: 5%}
.IG{ width: 9%;)
